<div class="myForm">
  <form [formGroup]="stdForm">
    <h1>Student Data</h1>
    <div class="row">

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your Name" formControlName="name">
        <mat-error *ngIf="stdForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="abc1@gmail.com" formControlName="email">
        <mat-error *ngIf="stdForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="stdForm.get('email')?.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Your Department</mat-label>
        <mat-select formControlName="department" (selectionChange)="onDepartmentChange($event.value)">
          <mat-option value="Information Technology">IT</mat-option>
          <mat-option value="Computer Engineering">CE</mat-option>
          <mat-option value="Mechanical Engineering">Mech</mat-option>
          <mat-option value="Civil Engineering">Civil</mat-option>
        </mat-select>
        <mat-error *ngIf="stdForm.get('department')?.hasError('required')">
          Department is required
        </mat-error>
      </mat-form-field>
    

    </div>

    <div class="row" *ngIf="showSubjects">
      <mat-form-field appearance="fill">
        <mat-label>Subject 1</mat-label>
        <input matInput placeholder="Subject 1" formControlName="subject1">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Subject 2</mat-label>
        <input matInput placeholder="Subject 2" formControlName="subject2">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Subject 3</mat-label>
        <input matInput placeholder="Subject 3" formControlName="subject3">
      </mat-form-field>
    </div>


    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Enter Your Age" formControlName="age">
        <mat-error *ngIf="stdForm.get('age')?.hasError('required')">
          Age is required
        </mat-error>
      </mat-form-field>
     
      <mat-form-field appearance="fill">
        <mat-label>Enrollment No.</mat-label>
        <input matInput placeholder="Your Enrollment No" formControlName="enroll">
        <mat-error *ngIf="stdForm.get('enroll')?.hasError('required')">
          Enrollment No. is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contact No.</mat-label>
        <input matInput placeholder="Your Contact No." formControlName="contact">
        <mat-error *ngIf="stdForm.get('contact')?.hasError('required')">
          Contact No. is required
        </mat-error>
      </mat-form-field>
  
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="stdForm.invalid"  class="buttons">Save</button>
      <button  mat-flat-button color="warn" (click)="reset()" class="buttons">Reset</button>
      <!-- <button mat-flat-button color="warn" (click)="onCancelEdit()" *ngIf="editingRow">Cancel</button> -->
    </div>
  </form>
</div>
<br><br>

<div class="filter-container">
  <div class="custom-filter">
    <!-- <mat-label>Filter by Marks</mat-label>&nbsp;
    <input #marksInput (keyup)="applyFilter(marksInput.value)" placeholder="Enter marks"> -->
    <!-- <mat-icon>filter_alt</mat-icon> -->
    <mat-label>Filter by age</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Enter age">
  </div>
</div>

<div class="mainTable">
  <div class="mat-elevation-z8">
    <table class="table1" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>ID</b></th>
        <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellName">
            {{ row.name }}
          </ng-container>
          <ng-template #editCellName>
            <input matInput type="text" [(ngModel)]="editingRow.name">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Email</b></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellEmail">
            {{ row.email }}
          </ng-container>
          <ng-template #editCellEmail>
            <input matInput type="email" [(ngModel)]="editingRow.email">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Department</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.department}} </td>
      </ng-container>

      <ng-container matColumnDef="subject1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Subject 1</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.subject1}} </td>
      </ng-container>

      <ng-container matColumnDef="subject2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Subject 2</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.subject2}} </td>
      </ng-container>

      <ng-container matColumnDef="subject3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Subject 3</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.subject3}} </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Age</b> </th>
        <td mat-cell *matCellDef="let row"> {{row.age}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellDepartment">
            {{ row.department }}
          </ng-container>
          <ng-template #editCellDepartment>
            <mat-select [(ngModel)]="editingRow.department">
              <mat-option value="Information Technology">IT</mat-option>
              <mat-option value="Computer Engineering">CE</mat-option>
              <mat-option value="Mechanical Engineering">Mech</mat-option>
              <mat-option value="Civil Engineering">Civil</mat-option>
            </mat-select>
          </ng-template>
        </td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="subject1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject 1</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellSubject1">
            {{ row.subject1 }}
          </ng-container>
          <ng-template #editCellSubject1>
            <input matInput type="text" [(ngModel)]="editingRow.subject1" style="width: 70px;">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="subject2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject 2</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellSubject2">
            {{ row.subject2 }}
          </ng-container>
          <ng-template #editCellSubject2>
            <input matInput type="text" [(ngModel)]="editingRow.subject2" style="width: 70px;">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="subject3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject 3</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellSubject3">
            {{ row.subject3 }}
          </ng-container>
          <ng-template #editCellSubject3>
            <input matInput type="text" [(ngModel)]="editingRow.subject3" style="width: 70px;">
          </ng-template>
        </td>
      </ng-container> -->

      <ng-container matColumnDef="enroll">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Enrollment No.</b></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellEnroll">
            {{ row.enroll }}
          </ng-container>
          <ng-template #editCellEnroll>
            <input matInput type="text" [(ngModel)]="editingRow.enroll"  style="width: 110px;" >
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Contact No.</b></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="!isEditing(row); else editCellContact">
            {{ row.contact }}
          </ng-container>
          <ng-template #editCellContact>
            <input matInput type="text" [(ngModel)]="editingRow.contact" style="width: 110px;">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Action</b></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" *ngIf="!isEditing(row)" (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="isEditing(row)" (click)="onSave2(row)">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button color="warn" *ngIf="isEditing(row)" (click)="onCancelEdit()">
            <mat-icon>cancel</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
</div>
    
    <!-- <div>
      <button mat-flat-button color="primary" (click)="onSave()" class="buttons" [disabled]="stdForm.invalid">Save</button>
      <button  mat-flat-button color="warn" (click)="reset()" class="buttons">Reset</button>
    </div>
    
    
  </form>
</div>

<div class="mainTable">
  <div class="mat-elevation-z8">
    <table class="table1" mat-table [dataSource]="dataSource">
     
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"> ID
          </th>
          <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b> Name </b></th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b> Email</b> </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Department</b> </th>
          <td mat-cell *matCellDef="let row"> {{row.department}} </td>
        </ng-container>
  
        <ng-container matColumnDef="enroll">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"> <b>Enrollment No.</b></th>
          <td mat-cell *matCellDef="let row"> {{row.enroll}} </td>
        </ng-container>
  
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"> <b>Contact No.</b> </th>
          <td mat-cell *matCellDef="let row"> {{row.contact}} </td>
        </ng-container>
        
  
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="Theader"><b>Action</b> </th>
          <td mat-cell *matCellDef="let row" style="display: flex;">
  
            <button (click)="onEdit(row)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="onDelete(row.id)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
            
          </td>
        </ng-container>
      
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
</div> -->